{% extends "base.html" %}
{% block content %}
    <h2>Woops..</h1>
    <h5>The requested resource was not found.</h5>

    <div class = "ii-sep"></div>
    <p>
        If you typed the URL manually, please recheck it. <br>
        If a link took you here, report it to me (contact at bottom left). <br>
        Neither of these? Something broke on my end.
    </p>
    <div class = "ii-sep"></div>

    <p>Please note: the site is currently a WIP, links may not exist yet.</p>
    <p>This incident has been recorded.</p>
    <a href = "/" class = "ii-btn-block">To The Homepage</a>
{% endblock %}
