{% extends "base.html" %}
{% block content %}
    <h1>iiPython</h1>
    <h5>Software developer, light gamer, and PC enthusiast.</h5>

    <!-- Buttons -->
    <div class = "ii-sep"></div>
    <a class = "ii-btn-block" href = "/about"><i class = "ml fas fa-user-alt"></i> About Me</a> <br>
    <a class = "ii-btn-block" href = "/srv/shortener"><i class = "ml fas fa-link"></i> URL Shortener</a>
    <a class = "ii-btn-block" href = "/srv/embed_gen"><i class = "ml fab fa-discord"></i> Embed Maker</a> <br>
    <a class = "ii-btn-block" href = "/api"><i class = "ml fas fa-network-wired"></i> API</a>
{% endblock %}
