{% extends "base.html" %}
{% block content %}
    <h2>About Me</h1>
    <p>
        Hello. I'm Benjamin (iiPython), and if you couldn't tell by the name, I like <a href = "https://python.org">Python</a>. <br>
        I also use 
        <a href = "https://nodejs.org">NodeJS</a>,
        <a href = "https://lua.org">Lua</a>,
        <a href = "https://gnu.org/software/bash">Bash/Batch</a>, and many more, but I mainly use Python. <br>

        <br>
        My projects range from Discord Bots, to websites (like this one), to artifical AI. <br>
        You can view some of them <a href = "https://github.com/ii-Python?tab=repositories">here</a>, most are archived but I always have some active ones. <br>

        <br>
        If you need to contact me, my discord is at the bottom left (hover over the discord icon). <br>
        You can also shoot me an email at <a href = "mailto:ben@iipython.cf">ben@iipython.cf</a>.
    </p>
    <div class = "ii-sep"></div>

    <h2>About the Website</h2>
    <p>
        This website is meant to serve as a testing ground for me. <br>
        It has also helped me develop my knowledge of binary data and web services in general. <br>

        <br>
        The source code is open source and <a href = "https://github.com/ii-Python/Website-v2">available here</a>.
    </p>
{% endblock %}
