{% extends "base.html" %}
{% set left=True %}
{% block content %}
    <h2 class = "center">Privacy Policy</h2>
    <h4 class = "center">Last updated: Oct. 6th, 2021</h4>
    <div class = "ii-sep"></div>

    <h3>Privacy Statement</h3>
    <p>
        I respect your privacy. This policy will describe what data I collect from you when using my services.
        Both my website and discord bots may collect the following from you:
        <ul>
            <li>Name</li>
            <li>IP address</li>
        </ul>

        Bots may also collect:
        <ul>
            <li>Account name, ID, and discriminator (tag)</li>
            <li>Profile picture</li>
            <li>Status/presence information</li>
        </ul>
    </p>
    <h3>Data usage</h3>
    <p>
        The data that I collect (including personal data) is used for the following purposes:
        <ul>
            <li>Improving my services</li>
            <li>Learning what to add/remove from services</li>
            <li>To provide you with tailored data</li>
            <li>Checking the services user-count</li>
        </ul>
    </p>
    <h3>Disclosure</h3>
    <p>
        I may share some non-personal pieces of information about users to any of the following:
        <ul>
            <li>Discord and or its affiliates</li>
            <li>My internet provider (upon request)</li>
            <li>Any government agency (upon request)</li>
        </ul>
    </p>
    <h3>Contact Information</h3>
    <p>
        If you have any questions or concerns about this Privacy Policy, you can contact me <br>
        via discord (<a href = "https://discord.com/users/633185043774177280">iiPython#0768</a>), or via email (<a href = "mailto:ben@iipython.cf">ben@iipython.cf</a>).
    </p>

{% endblock %}
